Source: pirogue-admin
Section: misc
Priority: optional
Maintainer: U+039b <hello@pts-project.org>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 pybuild-plugin-pyproject,
 python3-all,
 python3-grpcio,
 python3-pirogue-admin-api (= 2.0.2),
 python3-psutil,
 python3-pystemd,
 python3-rich,
 python3-setuptools,
 python3-yaml,
 quilt,
 systemd,
Standards-Version: 4.5.1
Homepage: https://github.com/PiRogueToolSuite/pirogue-admin
Rules-Requires-Root: no

Package: pirogue-admin
Architecture: all
Depends:
 python3-grpcio,
 python3-pirogue-admin-api (= 2.0.2),
 python3-psutil,
 python3-pystemd,
 python3-requests,
 python3-rich,
 python3-yaml,
 qrencode,
 ${python3:Depends},
 ${misc:Depends},
Conflicts:
 pirogue-cli,
Replaces:
 pirogue-cli,
Description: PiRogue administration tool
 This package features auto-detection to facilitate PiRogue's deployment, and
 coordinates configuration file updates alongside relevant service restarts
 whenever the configuration is updated.
