#!/usr/bin/make -f

export PYBUILD_NAME=pirogue_admin
%:
	dh $@ --with quilt,python3 --buildsystem=pybuild

override_dh_install:
	dh_install
	# Hide pirogue-admin CLI from users (meant for pirogue-base.postinst):
	mkdir debian/pirogue-admin/usr/sbin
	mv debian/pirogue-admin/usr/bin/pirogue-admin debian/pirogue-admin/usr/sbin

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_clean:
	dh_clean
	rm -rf pirogue_admin.egg-info/
